#swirl_section_main_div {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#swirl_section_main_div .slick-slider {
    height: 100%
}

.slick-slider .slick-list,
.slick-slider .slick-slide,
.slick-slider .slick-track {
    height: 100% !important
}

#swirl_section_main_div .swirl_ssv_prodct_img_ssv {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    z-index: 1000;
    margin-top: -30px;
    box-shadow: rgb(35 35 35 / 30%) 1px 1px 5px 1px;
    background-color: #fff
}

#swirl_section_main_div .swirl_ssv_produt_section_ssv {
    display: grid;
    place-items: center
}

.swirl_ssv_product_info p {
    font-size: 17px;
    font-weight: 500;
    text-align: center
}

.swirl_ssv_product_info h3 {
    text-align: center;
    font-weight: 100
}

.slick-prev {
    left: 20px !important;
    z-index: 10000
}

.slick-next {
    right: 40px !important;
    z-index: 10000
}

.slick-next:before,
.slick-prev:before {
    font-size: 50px !important
}

.swirl_ssv_elements_over_short_play_btn {
    height: 400px;
    display: grid;
    place-items: center
}

.swirl_ssv_elements_over_short_play_btn img {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    padding: 5px
}

.swirl_ssv_ssv_duration {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 0;
    margin-left: auto
}

.swirl_ssv_elements_over_short p {
    display: flex;
    background-color: #ab12209c;
    border-radius: 3px;
    padding: 3px 5px;
    align-items: center;
    color: #fff
}

.swirl_ssv_ssv_views {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 10px;
    margin-top: 20px
}

.ssv_views img {
    height: 10px
}

.swirl_ssv_discount_percent_badge {
    background-color: #56b280;
    padding: 3px 10px;
    color: #ffff;
    border-radius: 5px;
    font-size: 14px
}

.swirl_ssv_main_div_card {
    height: 600px;
    padding: 10px
}

.swirl_ssv_card_for_ssv img {
    height: 100%;
    width: 100%
}

.swirl_ssv_card_for_ssv video {
    height: 100%;
    width: 100%
}

.swirl_ssv_card {
    position: relative;
    margin: auto;
    overflow: hidden;
    box-shadow: rgb(35 35 35 / 30%) 1px 1px 5px 1px;
    border-radius: 10px;
    cursor: pointer
}

.swirl_ssv_media-container {
    position: relative
}

#swirl_section_main_div .swirl_ssv_overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    z-index: 1
}

#swirl_section_main_div .swirl_ssv_overlay-right {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    z-index: 1
}

#swirl_section_main_div .swirl_ssv_overlay-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    z-index: 1
}

#swirl_section_main_div .swirl_ssv_description {
    padding: 20px;
    background: rgba(0, 0, 0, .7);
    color: #fff
}

#swirl_section_main_div .swirl_ssv_total_views {
    display: flex;
    background-color: #ab12209c;
    border-radius: 3px;
    padding: 1px 5px;
    align-items: center;
    color: #fff;
    margin-bottom: 0 !important
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

#swirl_section_main_div .swirl_ssv_modal-backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0
}

#swirl_section_main_div .swirl_ssv_modal-wrapper {
    box-shadow: 0 2px 6px #000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11111;
    background-color: rgba(0, 0, 0, .5)
}

#swirl_section_main_div .swirl_ssv_modal-content {
    background-color: #fff;
    max-width: 50vw;
    margin: auto
}

#swirl_section_main_div .swirl_ssv_modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px
}

#swirl_section_main_div .swirl_ssv_modal-close {
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    line-height: 1.7em;
    color: #fff
}

#swirl_section_main_div .swirl_ssv_ssv_modal_row {
    background-color: rgba(0, 0, 0, .7);
    height: 100vh
}

#swirl_section_main_div .swirl_ssv_ssv_modal_square {
    background-color: #fff;
    margin: auto
}

* {
    box-sizing: border-box
}

#swirl_section_main_div .swirl_ssv_column {
    float: left;
    width: 50%;
    height: 90vh
}

#swirl_section_main_div .swirl_ssv_row:after {
    content: "";
    display: table;
    clear: both
}

#swirl_section_main_div .swirl_ssv_video_div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    position: relative
}

#swirl_section_main_div .swirl_ssv_product_img_ssv {
    height: 70px;
    width: 70px;
    border-radius: 50%
}

#swirl_section_main_div .swirl_ssv_product_tile_ssv {
    display: flex;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee
}

#swirl_section_main_div .swirl_ssv_product_info_tile_ssv {
    padding: 15px;
    width: 100%
}

#swirl_section_main_div .swirl_ssv_product_price {
    font-weight: 650;
    font-size: 17px;
    text-align: left
}

#swirl_section_main_div .swirl_ssv_products_slider_btn_next::before {
    font-size: 30px !important;
    margin-left: 53px
}

#swirl_section_main_div .swirl_ssv_products_slider_btn_pre::before {
    font-size: 30px !important;
    margin-left: -43px
}

.swirl_ssv_description_product h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px
}

.swirl_ssv_description_product p {
    text-transform: none;
    font-size: 14px;
    text-align: left
}

#swirl_section_main_div .swirl_ssv_add_to_cart_btn_ssv {
    padding: 5px 5px;
    border: 2px solid #000;
    border-radius: 4px;
    color: #000;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
    font-size: 12px
}

#swirl_section_main_div .swirl_ssv_right_column_main {
    height: 100%;
    overflow: auto
}

#swirl_section_main_div .swirl_ssv_buy_btn_ssv {
    padding: 7px 9px;
    border: 2px solid #000;
    border-radius: 4px;
    color: #fff;
    margin-left: 5px;
    font-weight: 700;
    background-color: #000;
    cursor: pointer;
    font-size: 12px
}

#swirl_section_main_div .swirl_ssv_arrow_right {
    cursor: pointer;
    margin-left: auto
}

#swirl_section_main_div .swirl_ssv_arrow_left {
    cursor: pointer
}

#swirl_section_main_div .swirl_ssv_title_product_desc {
    font-weight: 700;
    font-size: 16px;
    text-align: left
}

#swirl_section_main_div .swirl_ssv_column {
    position: relative
}

#swirl_section_main_div .swirl_ssv_text_area {
    display: block;
    background-color: #eee;
    outline: 0;
    width: 100%;
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    border: none
}

#swirl_section_main_div .swirl_ssv_video_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    font-size: 24px
}

#swirl_section_main_div .swirl_ssv_play_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(0, 0, 0, .3);
    margin-top: -39px
}

#swirl_section_main_div .swirl_ssv_close_btn {
    background-color: rgb(0, 0, 0, .6) !important;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    cursor: pointer
}

#swirl_section_main_div .video_div {
    width: 100%
}

#swirl_section_main_div .swirl_ssv_name_field {
    padding: 10px;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #eee;
    border-radius: 5px
}

#swirl_section_main_div .swirl_ssv_modal_form {
    padding: 10px
}

#swirl_section_main_div .swirl_ssv_content {
    width: 100px;
    height: 100px;
    background-color: #00f;
    transition: opacity .3s ease, transform .3s ease;
    cursor: pointer
}

#swirl_section_main_div .swirl_ssv_badge_products {
    background-color: red;
    z-index: 1000
}

#swirl_section_main_div .swirl_ssv_image-container {
    position: relative;
    display: inline-block
}

#swirl_section_main_div .swirl_ssv_badge {
    position: absolute;
    margin-top: -67px;
    right: -6px;
    color: #fff;
    border-radius: 50%;
    align-items: center;
    font-size: 13px;
    text-align: center;
    padding: 3px 6px
}

#swirl_section_main_div .swirl_ssv_video-container {
    position: relative
}

#swirl_section_main_div .swirl_ssv_pip-video {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

#swirl_section_main_div .content.hidden {
    opacity: 0;
    transform: scale(.5);
    display: none
}

#swirl_section_main_div .content.visible {
    opacity: 1;
    transform: scale(1)
}

#swirl_section_main_div .swirl_ssv_video_forword_ssv {
    width: 30px;
    cursor: pointer
}

#swirl_section_main_div .swirl_ssv_playpausse_btn_carousel {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
    width: 30px;
    margin: 35px
}

#swirl_section_main_div .swirl_ssv_right_bottom_icons_carousel {
    height: 30px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
    cursor: pointer;
    z-index: 1000000
}

#swirl_section_main_div .swirl_ssv_share_icon {
    padding: 8px
}

#swirl_section_main_div .swirl_ssv_mute_icons {
    padding: 5px
}

#swirl_section_main_div .swirl_ssv_right_botttom_icn {
    padding: 7%
}

#swirl_section_main_div .swirl_ssv_prduct_on_right {
    border-radius: 10px
}

#swirl_section_main_div .swirl_ssv_contact-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 100%
}

#swirl_section_main_div .swirl_ssv_country-select {
    margin-right: 10px;
    border: none;
    outline: 0
}

#swirl_section_main_div .swirl_ssv_country-select select {
    background-color: #eee;
    padding: 10px;
    border: none;
    outline: 0;
    border-radius: 5px
}

#swirl_section_main_div .swirl_ssv_phone-input input {
    border: none;
    background-color: #eee;
    padding: 10px;
    width: 100%;
    outline: 0;
    display: block;
    border-radius: 5px
}

#swirl_section_main_div .swirl_ssv_phone-input {
    width: 100%
}

#swirl_section_main_div .swirl_ssv_register_btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #8663d3;
    border: none;
    outline: 0;
    color: #fff;
    border-radius: 5px
}

.swirl_ssv_box_register {
    background-color: #ffff;
    border-radius: 10px
}

#swirl_section_main_div input[type=range]::-webkit-slider-thumb {
    width: 0 !important
}

#swirl_section_main_div input[type=range]::-moz-range-thumb {
    width: 0
}

#swirl_section_main_div input[type=range]::-ms-thumb {
    width: 0
}

#swirl_section_main_div .swirl_ssv_share_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px
}

#swirl_section_main_div .swirl_ssv_discount_percent_badge {
    margin-left: 8px
}

#swirl_section_main_div .swirl_ssv_video-modal-share-modal-social-ssv {
    height: 40px
}

@media only screen and (max-width:833px) {
    #swirl_section_main_div .swirl_ssv_right_section_display_none {
        display: none
    }

    .slick-slider .slick-list,
    .slick-slider .slick-slide,
    .slick-slider .slick-track {
        height: 100vh !important
    }

    #swirl_section_main_div .swirl_ssv_column {
        width: 100% !important;
        height: 100vh
    }

    #swirl_section_main_div .swirl_ssv_ssv_modal_square {
        width: 100vw !important;
        min-height: 85vh !important
    }

    #swirl_section_main_div .swirl_ssv_test_new_btn {
        display: none !important
    }
}

/*# sourceMappingURL=/sm/4300d91955556d5787af6381c52bdeecf2485e5f483402928104dd2c812e0604.map */